<div id="tudo">
  <div id="cabecalho">

       <div id="logo">
          <img src="assets/img/logo_horacio100.png" alt="Logo Horácio">
      </div>
      <div id="dados">
          <h1>Dados</h1>
      </div>

  </div>
  <div id="corpo">

      <div id="menuvertical">
          menu vertical
      </div>
      <div id="menuhorizontal">
          <h2>menu horizontal</h2>
      </div>
  </div>

  <div id="rodape">

      <div id="contatos">

        <a href="http://etechoracio.com.br/etec/">Etec Horácio</a>
      </div>
  </div>


</div>
<router-outlet></router-outlet>
